In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
import urllib.request

In [3]:
urllib.request.urlretrieve("https://raw.githubusercontent.com/amankharwal/Website-data/master/payment_fraud.csv", "payment_fraud.csv")

('payment_fraud.csv', <http.client.HTTPMessage at 0x1d708981c48>)

In [4]:
df = pd.read_csv('payment_fraud.csv')

In [5]:
df.head()

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
0,29,1,4.745402,paypal,28.204861,0
1,725,1,4.742303,storecredit,0.000000,0
2,845,1,4.921318,creditcard,0.000000,0
3,503,1,4.886641,creditcard,0.000000,0
4,2000,1,5.040929,creditcard,0.000000,0

In [9]:
df['paymentMethod'].value_counts()

creditcard     28004
paypal          9303
storecredit     1914
Name: paymentMethod, dtype: int64

In [12]:
for j in df['paymentMethod'].unique():
    df['paymentMethod_'+j] = np.where(df['paymentMethod']==j,1,-1)

In [13]:
df.head()

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label,paymentMethod_paypal,paymentMethod_storecredit,paymentMethod_creditcard
0,29,1,4.745402,paypal,28.204861,0,1,-1,-1
1,725,1,4.742303,storecredit,0.000000,0,-1,1,-1
2,845,1,4.921318,creditcard,0.000000,0,-1,-1,1
3,503,1,4.886641,creditcard,0.000000,0,-1,-1,1
4,2000,1,5.040929,creditcard,0.000000,0,-1,-1,1

In [15]:
df = df.drop('paymentMethod', axis = 1)

In [16]:
df.head()

,accountAgeDays,numItems,localTime,paymentMethodAgeDays,label,paymentMethod_paypal,paymentMethod_storecredit,paymentMethod_creditcard
0,29,1,4.745402,28.204861,0,1,-1,-1
1,725,1,4.742303,0.000000,0,-1,1,-1
2,845,1,4.921318,0.000000,0,-1,-1,1
3,503,1,4.886641,0.000000,0,-1,-1,1
4,2000,1,5.040929,0.000000,0,-1,-1,1

In [17]:
# Split dataset up into train and test sets
X_train, X_test, y_train, y_test = train_test_split(
    df.drop('label', axis=1), df['label'],
    test_size=0.33, random_state=17)

In [18]:
clf = LogisticRegression().fit(X_train, y_train)

# Make predictions on test set
y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred, y_test))

1.0

In [19]:
# Compare test set predictions with ground truth labels
print(confusion_matrix(y_test, y_pred))

[[12753     0]
 [    0   190]]